* {
    margin: 0;
    padding: 0;
    user-select: none; 
}

html {
    font: 62.5% "segoe ui", helvetica, arial, sans-serif;
    background-color: #fff;
}


header {
    background-color: #0078d7;
    color: #fff;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 0px;
}


header * {
    display: inline;
}

h1 {
    font-size: 40px;
}

.subtitle {
    margin-left: 1rem;
}

.buttons {
    margin-top: 1.5rem;
}

.buttons * {
    margin-right: 10px;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
    font-size: 1px;
    display: block;
}

.content {
    overflow: hidden;
    height: 100%;
    min-width: 100%;
}

body {
    overflow: hidden;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background: #343434;
}

#addTab {
    float: right;
}

/* Style the tab */
.tabs {
    overflow: hidden;
    background-color: #0078d7;
}

/* Style the buttons inside the tab */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #005ca5;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #006abe;
}


.buttons>button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 32px;
    width: 32px;
    /* padding: 0px 16px; */
    border-radius: 32px;
    background-color: white;
    color: #222;
    font-size: 12px;
    font-weight: 500;
}

button:hover {
    background-color: #90A4AE;
}


input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;

    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.hidden {
    display: none;
}

.action_icon {
    width: 70%;
    height: 70%;
    margin: auto;
    vertical-align: middle;
}

.swal2-content * {
    user-select: text;
}

.swal2-popup {
    font-size: 1.6rem !important;
  }