* {
    margin: 0;
    padding: 0;
}

html {
    font: 62.5% "segoe ui", helvetica, arial, sans-serif;
    background-color: #fff;
}


header {
    background-color: #0078d7;
    color: #fff;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 0px;
}


header * {
    display: inline;
}

h1 {
    font-size: 40px;
}

.subtitle {
    margin-left: 1rem;
}

.buttons {
    margin-top: 1.5rem;
}

.buttons * {
    margin-right: 10px;
}

.right {
    float: right;
}

#content {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: hidden;
}


button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 32px;
    padding: 0px 16px;
    border-radius: 50px;
    background-color: white;
    color: #222;
    font-size: 12px;
    font-weight: 500;
}

button:hover {
    background-color: #90A4AE;
}


input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}